body {
  margin: 30px;
}

p {
  color: darkviolet;
  font-size: 1.5rem;
}

.forced-inherit {
  border: 3px solid red;
  padding: 15px;
}

.forced-inherit em {
  border: inherit;/*Aici facem mostenirea pentru border, 
  se mosteneste de la clasa 'forced-inherit' pntreu 'em'*/
  padding: 5px;
}

/*********************************************/

.reset-inheritance em {
  color: initial; /*culoare textului se face pe default*/
  font-size: initial;/*la fel pe default*/
}
