body {
  margin: 0;
}

h1 {
  margin: 30px;
}

ul {
  margin: 0;
  list-style-type: none;
}

.menu {
  background-color: rgb(124, 215, 165);
  padding: 10px 30px;
  font-size: 1.2rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 5rem;
}

.menu-item {
  cursor: pointer;
  padding: 15px 5px;
  border-radius: 8px;
  transition: background-color 0.8s ease-in;
  text-align: center;
}

.menu-item:hover {
  background-color: rgb(9, 179, 34);
}