img {
  background-color: yellow;
  border: 5px solid red;
  border-radius: 20px;
  padding: 25px;
}

p {
  border: 5px solid orchid;
  width: 250px;
  padding: 40px 80px 50px 40px; /* top | right | bottom | left */
}

button{
  padding: 25px 50px; /*top-bottom | left-right*/
}
