body {
  margin: 30px;
}

.box {
  margin: 30px 0;
  width: 100px;
  height: 100px;
  background-color: darkorange;
  /* transition-property: background-color;  */
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: linear;
  transition-delay: 0.3s;
}

.box:hover {
  background-color: blueviolet;
  width: 150px;
  height: 150px;
}

/*********************************************/

.menu {
  list-style-type: none; /* удаление маркеров элементов списка */
  padding: 0; /* удаление стандартных отступов элемента ul */
  margin-top: 35px;
}

.menu li {
  padding: 20px;
  height: 20px;
  background-color: lightgray;
  cursor: pointer;
  transition: all 0.8s ease-out;
}

.menu li:hover {
  background-color: lightseagreen;
  color: white;
  font-size: 1.2rem;
}

.btn1{
  margin: 20px 0;
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
  color: blue;
  border-radius: 10px;
  box-shadow: 5px 5px 1px grey;
  border: 3px solid red;
}

.btn1:hover{
  background-color: gray;
  color: blanchedalmond;
  border: 3px solid green;
  box-shadow: none;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.8s ease-out;
}