body {
  margin: 0;
}

.header {
  background-color: rgb(129, 209, 172);
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
}

.content {
  margin-top: 80px; /* добавление внешнего отступа после фиксированного заголовка */
  padding: 10px 50px;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.2;
}
