body {
  margin: 30px;
  font-size: 1.5rem;
}

/* выбор элемента li, который является вторым дочерним элементом своего родителя */
li:nth-child(2) {
  color: red;
}

/* выбор второго дочернего элемента в div */
div :nth-child(2) {
  color: darkblue;
}

div :nth-child(3) {
  text-decoration: underline;
}

/*********************************************/

table {
  margin-top: 30px;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse; /* объединяет границы отдельных элементов таблицы */
}

th,
td {
  padding: 15px;
  text-align: center;
}

/* можно также использовать "odd" */
tbody > tr:nth-child(even) {
  background-color: lightskyblue;
  color: lemonchiffon;
}

tbody > tr:nth-child(odd) {
  background-color: lightgray;
}

thead > tr {
  background-color: rgb(22, 53, 228);
  color: white;
}