/* '~' combintor de mostiniere comuna
Adica gasim elemntele <p> care au parintele comun cu 
elementu care are clasa 'greet'*/
.greet ~ p { 
  background-color: lightgrey;
}

h2 ~ button{
  background-color: rgb(77, 199, 193);
  margin: 10px;
}
