.bg-image {
  background-image: url("https://picsum.photos/id/46/200");
  width: 200px;
  height: 200px;
}

.bg-small {
  background-image: url("https://picsum.photos/id/54/200");
  width: 350px;
  height: 350px;
  border: 5px solid red;
}

.bg-repeat-off {
  background-repeat: no-repeat;
  width: 300px;
}

.bg-repeat-no-crop {
  background-repeat: round;
}

p{

  background-image: url("https://picsum.photos/id/46/450");
  font-size: larger;
  border: 5px solid blue;
  font-weight: bold;
  padding: 20px;
  width: 400px;
  height: 250px;
}
