body {
  margin: 30px;
}

.container {
  border: 3px solid red;
  margin: 15px;
  display: flex;
  flex-direction: row; /*'flex-direction: row' este po defaultu, spoate sa nul incicam*/
  /* раскомментируйте по одному свойству для просмотра результатов */
  flex-wrap: wrap;
  justify-content: space-evenly; /*main axix*/
  align-items: center;/*coss axis*/
  gap: 10px;
}

.container.row{
  /* раскомментируйте при использовании свойств align-items и align-self */
  height: 300px;
}


/* выбор элемента с обоими классами: "container" и "column" */
.container.column {
  flex-direction: column;
  height: 450px; /*putem indica inaltsimea manual*/
}

.box {
  width: 100px;
  height: 80px;
  background-color: cornflowerblue;
  border: 2px solid darkblue;
  /* margin: 5px; */
  border-radius: 10px;
  flex-basis: 100px; /*schimba witdh elementului pe Main-Axa */
  /* flex-grow: 1; '1' elementile ocupa tot spatsiu pe Main-Axa */
}

.box:first-child {
  background-color: lightgreen; /*Marcam primul element*/
}

/* раскомментируйте для использования свойства flex-grow */
/* .box:nth-child(2) {
  flex-grow: 3; 
  background-color: lightcoral;
} */

/* раскомментируйте для использования свойства flex-shrink */
/* .box:nth-child(2) {
  flex-shrink: 3;
  background-color: rgb(216, 124, 19);
} */

/* раскомментируйте для использования свойства align-self */
/* .box:nth-child(2) {
  align-self: flex-end;
  flex-shrink: 3; 
  background-color: rgb(255, 165, 47);
} */
