body {
  margin: 30px;
}

.gridContainer {
  margin-top: 25px;
  font-size: 1.1rem;
  border: 5px solid teal;
  padding: 5px;

  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: 1fr 2fr 1fr;

  /* раскомментируйте чтобы увидеть выравнивание в действии */
  justify-items: center;
  /* align-items: start; *//*Valoare implicita */
  align-items: center;
}

.box {
  color: white;
  background-color: cornflowerblue;
  border: 2px solid darkblue;
  padding: 30px;
  text-align: center;

  /*
  ширина и высота указываются для того, чтобы элементы сетки были меньше
  чем ячейки сетки, чтобы в ячейках сетки оставалось дополнительное пространство
  для выравнивания элементов
  */
  width: 50%;
  height: 30%;
}

/*
раскомментируйте, чтобы увидеть выравнивание
отдельных элементов сетки и их возможные значения
*/

.box:nth-child(5) {
  align-self: start;
  background-color: rgb(58, 40, 220);
}