body {
  margin: 30px;
  font-size: 1.3rem;
}

dl {
  width: 300px;
  overflow: auto; /* отображение полос прокрутки, если содержимое переполняет элемент */
  /*lenta de scrolling*/
  height: 200px;
  border: 2px solid burlywood;
}

dt {
  position: sticky;/*Pozitsie Lipicioasa */
  top: 0px; /* попробуйте изменить это значение на 20px */
  background-color: bisque;
  margin-bottom: 3px;
  padding: 10px;
}

dd {
  padding: 5px;
}
